<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Majestic Thai</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <!-- HEADER -->
    <header>
      <div class="header">
        <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLkCz0vuO0sunX0AoKplzmQP8gCNeNyD3iHnlODOxicHYu5gO2Ug">-->
        <h1>MAJESTIC THAI</h1>
        <div class="header-line"></div>
      </div>
    </header>

    <div class="blurb">
      <h3>Serving you the freshest authentic Thai delights since 2003!</h3>
    </div>

      <div class="container">
            <div class="menu">
              <h3>Menu</h3>
            </div>


        <script type="text/template" id="templates-create-food">
          <input class="item" type="text" placeholder="Item">
          <input class="price" type="text" placeholder="Price">
          <input class="description" type="text" placeholder="Description">
        </script>

     <div class="order-sidebar">

     </div>

     <button class="purchase">PURCHASE</button>

      <!-- <%= itemList %> -->
      <script type="text/template" id="templates-order-food">
       <h1>Current order</h1>
       <ul class="line-items"></ul>
       <h2>Total:</h2><h2 class="grand-total"><%= price %></h2>

      </script>

      <div class="footer">
        <ul class="footer-links">
          <a href="https://www.facebook.com/"><li class="brandico-facebook-rect"></li></a>
          <a href="https://twitter.com/?lang=en"><li class="brandico-twitter-bird"></li></a>
          <a href="https://plus.google.com/"><li class="brandico-googleplus-rect"></li></a>
          <a href="https://instagram.com/"><li class="brandico-instagram"></li></a>
        </ul>


        <input class="login-name" type="text" placeholder="Admin user">
        <input class="login-pass" type="password" placeholder="Password">
        <button class="login">Log in</button>
      
      </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/backfire/backbone-firebase.js"></script>
    <script src="../bower_components/backfire/backbone-firebase.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
